<div class="box">
    <div nz-row [nzGutter]="6">
        <div nz-col [nzSpan]="6" *ngFor="let data of depList">
            <!-- <nz-card >
                <p>负责人：{{data.pic}}</p>
                <p>总人数：{{data.total}}</p>
                <p>详情 ：{{data.tip}}</p>
            </nz-card> -->
            <nz-card [nzCover]="coverTemplate" [nzActions]="[actionSetting,actionEdit,actionEllipsis]" [nzHoverable]="true">
                <nz-card-meta [nzTitle]="data.name" [nzDescription]="data.tip" [nzAvatar]="avatarTemplate">
                </nz-card-meta>
            </nz-card>
            <ng-template #avatarTemplate>
                <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
            </ng-template>
            <ng-template #coverTemplate>
                <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
            </ng-template>
            <ng-template #actionSetting>
                <i nz-icon type="file" (click)="showElse(data.name)">成员</i>
            </ng-template>
            <ng-template #actionEdit>
                <i nz-icon type="file">编辑</i>
            </ng-template>
            <ng-template #actionEllipsis>
                <i nz-icon type="ellipsis"></i>
            </ng-template>
        </div>
    </div>
</div>
<!-- <div class="box" *ngIf="eName">
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8" *ngFor="let item of empList">
            <nz-card [nzTitle]="eName + ' 部门人员'" 
                [nzHoverable]="true">
                <nz-card-meta [nzAvatar]="avatarTemplate" [nzTitle]="item.name" [nzDescription]="item.id">
                </nz-card-meta>
            </nz-card>
            <ng-template #avatarTemplate>
                <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
            </ng-template>
        </div>
    </div>
</div> -->
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="eName + ' 部门人员'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzFooter]="null">
    <nz-list [nzDataSource]="empList" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
        <ng-template #item let-item>
            <nz-list-item *ngIf="item.department === eName">
                <nz-list-item-meta [nzTitle]="nzTitle"
                    nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                    [nzDescription]="item.id">
                    <ng-template #nzTitle>
                        <a routerLink="/team-employee/{{item.id}}">{{item.name}}</a>
                    </ng-template>
                </nz-list-item-meta>
            </nz-list-item>
        </ng-template>
    </nz-list>
</nz-modal>