<div class="team-employee">
    <nz-layout>
        <nz-sider [nzTheme]="'light'">
            <div class="logo">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" nz-input placeholder="input search text">
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch><i nz-icon type="search"></i></button>
                </ng-template>
            </div>
            <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'">
                <li nz-submenu *ngFor="let item of empInDepList">
                    <span title>
                        <i nz-icon type="file"></i>
                        <span class="nav-text">{{item.name}}</span>
                    </span>
                    <ul>
                        <li nz-menu-item *ngFor="let item2 of item.emp">
                            <a (click)="getEmpId(item2.id)" routerLink="/team-employee/item2.id">{{item2.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nz-sider>
        <nz-layout class="content-layout">
            <nz-content>
                <div class="content-div">
                    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event, validateForm.value)">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="7" nzRequired>工号</nz-form-label>
                            <nz-form-control [nzSpan]="12" nzHasFeedback>
                                <span class="span-text">{{emp.id}}</span>
                                <input class="hiddenC" nz-input formControlName="userId" [(ngModel)]="emp.id">
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="7" nzRequired>姓名</nz-form-label>
                            <nz-form-control [nzSpan]="12" nzHasFeedback>
                                <input nz-input formControlName="userName"
                                    placeholder="async validate try to write JasonWood" [(ngModel)]="emp.name">
                                <nz-form-explain
                                    *ngIf="validateForm.get('userName')?.dirty && validateForm.get('userName')?.errors || validateForm.get('userName')?.pending ">
                                    <ng-container *ngIf="validateForm.get('userName')?.hasError('required')">
                                        Please input your username!
                                    </ng-container>
                                    <ng-container *ngIf="validateForm.get('userName')?.hasError('duplicated')">
                                        The username is redundant!
                                    </ng-container>
                                    <ng-container *ngIf="validateForm.get('userName')?.pending">
                                        Validating...
                                    </ng-container>
                                </nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
                            <nz-form-control [nzSpan]="12" nzHasFeedback>
                                <input nz-input formControlName="email" placeholder="email" type="email">
                                <nz-form-explain
                                    *ngIf="validateForm.get('email')?.dirty&&validateForm.get('email')?.errors">
                                    <ng-container *ngIf="validateForm.get('email')?.hasError('email')">
                                        The input is not valid E-mail!
                                    </ng-container>
                                    <ng-container *ngIf="validateForm.get('email')?.hasError('required')">
                                        Please input your E-mail!
                                    </ng-container>
                                </nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="7" nzRequired>Comment</nz-form-label>
                            <nz-form-control [nzSpan]="12">
                                <textarea formControlName="comment" nz-input rows="2"
                                    placeholder="write any thing"></textarea>
                                <nz-form-explain
                                    *ngIf="validateForm.get('comment')?.dirty&&validateForm.get('comment')?.hasError('required')">
                                    Please write something here!</nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control [nzOffset]="7" [nzSpan]="12">
                                <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
                                <button nz-button (click)="resetForm($event)">Reset</button>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
            </nz-content>
        </nz-layout>
    </nz-layout>
</div>