.logo {
    // height: 32px;
    // background: rgba(255, 255, 255, .2);
    margin: 16px;
    position: relative;
    .addEmp {
        width: 100%;
        margin-bottom: 10px;
    }
    nz-select {
        width: 100%;
        ::ng-deep .ant-select-selection {
            padding-right: 32px; // border-top-right-radius: 0;
            // border-bottom-right-radius: 0;
        }
    }
    .searchBtn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; // margin-left: -32px;
        // float: right;
        position: absolute;
        right: 0;
    }
}

.team-employee {
    position: relative;
    nz-sider {
        // overflow: auto;
        // height: 100vh;
        // position: absolute;
        // left: 0;
        background: #fff;
        nz-avatar {
            vertical-align: middle;
        }
    }
    .content-layout {
        margin-left: 200;
        nz-content {
            margin: 24px 16px 0;
            overflow: initial;
            .content-div {
                padding: 24px;
                background: #fff; // text-align: center;
                [nz-form] {
                    max-width: 600px;
                    .hiddenC {
                        display: none;
                    }
                    .span-text {
                        width: 100%;
                        display: block;
                        text-align: left;
                        padding-left: 10px;
                        box-sizing: border-box;
                    }
                    .date-input {
                        width: 100%;
                    }
                    nz-date-picker ::ng-deep .ant-calendar-picker {
                        width: 100%;
                    }
                    nz-radio-group {
                        margin-left: 5px;
                    }
                }
                button {
                    margin-left: 8px;
                }
            }
        }
    }
}