.table-operations {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-box {
        display: inline-block;
        button {
            margin-right: 8px;
        }
    }
    .timeTh {
        display: inline-block;
        ::ng-deep .ant-table-column-sorters {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        nz-select {
            width: 72px;
            ::ng-deep .ant-select-selection {
                border-color: transparent;
                background: transparent;
                outline: none;
                box-shadow: none;
            }
        }
        nz-date-picker,
        nz-month-picker {
            width: 126px;
        }
        nz-range-picker {
            width: 232px;
        }
    }
}

nz-table {
    [nz-button] {
        margin-right: 8px;
    }
    td {
        p {
            nz-select {
                min-width: 100px;
            }
        }
        nz-mention {
            input {
                height: 22px;
                font-size: 12px;
                line-height: 20px;
                max-width: 150px;
            }
        }
        nz-range-picker {
            margin: 0 8px 12px 0;
        }
        nz-date-picker {
            margin: 0 8px 12px 0;
        }
    }
}

.editable-tag {
    background: rgb(255, 255, 255);
    border-style: dashed;
}

.ant-avatar.ant-avatar-sm {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    position: relative;
}

[nz-form] {
    .hidden-item {
        display: none;
    }
    .sumbitBtn {
        margin-right: 8px;
    }
}