// [nz-row] {
//     margin-bottom: 20px;
//     [nzShowSearch] {
//         width: 200px;
//     }
//     button {
//         margin-right: 10px;
//     }
// }
[nz-form] {
    [nzRequired] {
        margin-right: 50px;
    }
    .hidden-item {
        display: none;
    }
    .sumbitBtn {
        margin-right: 8px;
    }
}