<!-- Index -->
<div id="box">
    <nz-layout>
        <nz-header>
            <div class="logo"></div>
            <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
                <li nz-menu-item>nav 1</li>
                <li nz-menu-item>nav 2</li>
                <li nz-menu-item>nav 3</li>
            </ul>
        </nz-header>
        <nz-layout>
            <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'lg'" [nzCollapsedWidth]="0"
                [nzZeroTrigger]="zeroTrigger">
                <div class="slide-top"></div>
                <ul class="left-nav" nz-menu [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">
                    <li nz-submenu nz-tooltip nzPlacement="right">
                        <span title>
                            <i nz-icon type="file"></i>
                            <span>人员管理</span>
                        </span>
                        <ul>
                            <li nz-menu-item><a routerLink="/team-department">部门管理</a></li>
                            <li nz-menu-item><a routerLink="/team-employee">员工管理</a></li>
                            <li nz-menu-item>Option 11</li>
                        </ul>
                    </li>
                    <li nz-submenu>
                        <span title>
                            <i nz-icon type="file"></i>
                            <span>
                                <a routerLink="/seal-record">用章记录</a>
                            </span>
                        </span>
                        <ul>
                            <li nz-menu-item><a routerLink="/seal-record">用章记录</a></li>
                            <li nz-menu-item>Option 6</li>
                        </ul>
                    </li>
                    <li nz-submenu>
                        <span title>
                            <i nz-icon type="file"></i>
                            <span>考勤管理</span>
                        </span>
                        <ul>
                            <li nz-menu-item><a routerLink="/attence-record">申请记录</a></li>
                            <li nz-menu-item>Option 10</li>
                            <li nz-menu-item>Option 11</li>
                        </ul>
                    </li>
                </ul>
            </nz-sider>
            <nz-layout>
                <nz-content>
                    <div class="content-wrapper">
                        <div class="content-breadcrumb">
                            <nz-breadcrumb [nzAutoGenerate]="true">
                                Home
                            </nz-breadcrumb>
                        </div>
                        <div class="content-box">
                            <!-- <app-seal></app-seal> -->
                            <router-outlet></router-outlet>
                            <!-- <app-messages></app-messages> -->
                        </div>
                    </div>
                </nz-content>
                <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
            </nz-layout>
        </nz-layout>
    </nz-layout>
    <ng-template #zeroTrigger>
        <i nz-icon type="menu-fold" theme="outline"></i>
    </ng-template>
</div>